{
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {"ecmaVersion": 2021},
  "rules": {
    "array-bracket-newline": [
      "error",
      {
        "minItems": 3,
        "multiline": true
      }
    ],
    "array-element-newline": [
      "error",
      {
        "minItems": 3,
        "multiline": true
      }
    ],
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "multiline-ternary": [
      "warn",
      "always-multiline"
    ],
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "no-duplicate-imports": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true,
        "minProperties": 3,
        "multiline": true
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "operator-linebreak": [
      "error",
      "before"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "next": [
          "block",
          "class",
          "export",
          "for",
          "if",
          "multiline-const",
          "return",
          "switch",
          "throw",
          "try",
          "while"
        ],
        "prev": "*"
      },
      {
        "blankLine": "always",
        "next": "*",
        "prev": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "any",
        "next": [
          "const",
          "let",
          "var"
        ],
        "prev": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "any",
        "next": [
          "export"
        ],
        "prev": [
          "export"
        ]
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "all",
          "multiple",
          "none",
          "single"
        ]
      }
    ],
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": true,
        "natural": true
      }
    ]
  }
}